$primary-color: #2c3e50;
$details-color: #ecf0f1;

%default-active-colors {
  background-color: $details-color;
  color: $primary-color;
}

// >>> GENERAL <<<
body {
  background-color: $primary-color;
  color: $details-color;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 20px;
}

// >>> MAIN <<<
.main-container {
  display: flex;
}

%main-container-elements {
  border: 1px solid $primary-color;
  height: calc(80% - 10px);
  background-color: $details-color;
}

.canvas {
  @extend %main-container-elements;
  width: 70%;
}

.palette {
  @extend %main-container-elements;
  border-right: none;
  width: 30%;
}

// >>> BUTTONS <<<
.btns-container {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
}

.btn {
  padding: 5px 8px;
  margin: 10px 0;
  margin-right: 10px;
  border: 1px solid $details-color;
  border-radius: 5px;
  background-color: $primary-color;
  color: $details-color;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  outline: none;

  &:hover {
    @extend %default-active-colors
  }
}

.btns-models-container {
  text-align: right;

  .btn:last-child {
    margin-right: 0;
  }

  .btn.active {
    @extend %default-active-colors
  }
}

.layout-mode-label {
  margin-right: 10px;
  font-size: 0.9em;
}

.layout-mode-btn {
  &:last-child {
    margin-right: 0;
  }

  &.active {
    @extend %default-active-colors
  }
}
